/* Flatforum Structure */
.forum-comment {
  float: left;
  width: 95%;
}

.comment-left {
  width: 18%;
  height: 100%;
  float: left;
  font-size: 0.8em; 
  padding: 5px;
  margin: 0;
}

.comment-left .author-name {
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 15px;
}

.comment .comment-left .picture {
  float: none;
  border: none;
  margin-bottom: 15px;
}

.comment-right {
  float: right;
  width: 78%;
}

.comment-right .title {
  font-weight: bold;
  font-size: 1.2em;
  margin: 5px 15px;
  padding: 0 5px;
}

.comment-right .content {
  padding: 5px;
}

.comment-right .content .links {
  text-align: right;
}

/* Flatforum Style */
.comment {
  border: 1px solid #abc;
}

.comment-left {
}

.comment-right {
  border-left: 1px solid #abc;
}

.comment-even {
  background-color: #eee;
}

.comment-odd {
  background-color: #ddd;
}

.comment-right .title {
  background-color: #fff;
}
